<launch>
	<arg name="command_gennerator_args" default="-c [[150,0,0],[-150,0,0],[0,100,0],[0,-100,0],[0,0,10],[0,0,-10]] -t 10 -f 1"/>
	<arg name="outfile" default="~/outbag.raw.bag"/>
	<node name="camera_actuator_node" pkg="camera_actuator" type="camera_actuator_node"  output="screen"/>
	<node name="command_generator" pkg="camera_actuator" type="command_generator.py" output="screen" args="$(arg command_generator_args)"/>
	<node name="rosbag" type="record" pkg="rosbag" args="-O $(arg outfile) /usb_cam/image_raw /logitech_cam/camera_executed" output="screen"/>
</launch>